body {
    margin: 0px;
}

:root {
    --primary: #F8D7E0;
    --secondary: #EDBABA;
    --secondary-2: #6B7A8F;
    --secondary-3: #E9DAE9;
    --secondary-4: #F6A67D;
    --secondary-5: #FBF5EE;
}

main {
    background: #E8A9BE;
    display: flex;
    justify-content: space-between;
}

.box {
    background: #FCF5E8;
    border: 2px solid orange;
    border-radius: 5px;
    width: 400px;
    height: 600px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.box p {
    font-size: 24px;
}

#contact-form-box {
    margin-left: 100px;
}

#contact-form-box label {
    font-size: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: block;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    width:60%;
}

#contact-form textarea {
    height:5em;
}

#submit-btn {
    background: #E8A9BE;
    border-radius: 5px;
    border: 2px solid black;
    width:61%;
    font-size:16px;
}

#submit-btn:hover {
    cursor: pointer;
    background: #974E67;
}

#google-map {
    margin-right: 100px;
}

#map {
    height: 400px;
}

@media (max-width: 1020px) {
    main {
        display: block;
        justify-content: space-evenly;
    }

    .box {
        justify-self: center;
        height: 550px;
    }

    main {
        margin-top: -5%;
        margin-bottom: -5%;
    }
    /*
    #toggle-open {
        display: block;
    }

    #toggle-close {
        display: none;
    }*/
}