body {
    margin: 0px;
}

:root {
    --primary: #F8D7E0;
    --secondary: #EDBABA;
    --secondary-2: #6B7A8F;
    --secondary-3: #E9DAE9;
    --secondary-4: #F6A67D;
    --secondary-5: #FBF5EE;
}

main {
    background: #E8A9BE;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

#google-map {
    margin-right: 100px;
}

@media (max-width: 1020px) {
    main {
        display: block;
    }

    .box {
        height: 550px;
    }

    #contact-form-box {
        margin-left: auto;
        margin-right: auto;
    }

    main {
        margin-top: -1%;
        margin-bottom: -5%;
    }
    /*
    #toggle-open {
        display: block;
    }

    #toggle-close {
        display: none;
    }*/
}