:root {
    --primary: #F8D7E0;
    --secondary: #EDBABA;
    --secondary-2: #6B7A8F;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header-img {
    height: 510px;
    width: 100%;
}

#page-content-mhome {
    background: linear-gradient(0deg, var(--primary), var(--secondary), var(--primary));
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 45px;
    margin-top: -5px;
    display: block;
    margin-bottom: -4%;
}

.destinations-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 80px 0;
}

.dest-info a {
    color: black;
    text-decoration: none;
}

.dest-info img {
    width: 384.6px;
    height: 256.4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
    border: 4px #BE9595 solid;
}

.dest-info p {
    text-align: center;
    background: #FCFBF9;
    width: 385px;
    height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -20px;
    font-size: 36px;
    padding-top: 10px;
    text-shadow: #6B7A8F 1px 1px 1px;
    border: 4px #BE9595 solid;
}

#main-question {
    margin-top: 195px;
}

footer {
    height: 203.23px;
    background: var(--secondary);
    margin-bottom: 0;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    align-content: center;
}

footer a {
    color: #FCF9C5;
    text-decoration: none;
}

footer a:hover {
    color: #CFCFE1;
}

#btn-account {
    background: #F6A67D;
    border-radius: 40px;
    width: 592.12px;
    height: 75.73px;
    font-size: 30px;
    font-family: "Playfair Display", sans-serif;
    margin-top: 85px;
    border: 2px black solid;
    color: black;
    padding: 12px;
}

#btn-account:hover {
    background: #DD9571;
}

@media (max-width: 1200px) {
    .destinations-row {
        flex-direction: column;
        gap: 50px;
        margin: 50px 0;
    }

    .dest-info p {
        justify-self: center;
    }
}